html {
  background-color: #222;
  color: #fff;
}

h1 {
  text-shadow: 2px 2px 3px #f00, 0px 0px 20px #00f, 9px 9px 7px #000;
  font-family: 'Courier New', Courier, monospace;
  animation: pulse 5s infinite;
  margin-bottom: 50px;
	transform: scale(1);
  text-align: center;
  margin-top: 100px;
  font-size: 70px;
}

@keyframes pulse {
  0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #03a9f4;
  transition: 0.3s;
}
a:hover,
a:focus-visible {
  color: #ff5722;
  outline: none;
}

img {
  margin-left: 5px;
}
