<!DOCTYPE html>
<!-- cspell:ignoreRegExp >(.*?)< -->
<html lang="en-us">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Everything's Okay" />
    <meta name="author" content="mauprogramador" />
    <link rel="canonical" href="/" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/index.css" type="text/css" />
    <title>Everything's Okay</title>
  </head>

  <body>
      <h1>Everything's Okay</h1>
      <nav translate="no">
        <span>
          <a href="https://www.ifms.edu.br/campi/campus-tres-lagoas" target="_blank" rel="external"
            title="IFMS - Campus Três Lagoas">IFMS - Campus Três Lagoas
          </a>
          <img src="/static/favicon.ico" alt="IFMS logo" />
        </span>
        <span>
          Developed by
          <a href="https://github.com/mauprogramador" target="_blank" rel="author"
            title="Developer GitHub profile">@mauprogramador</a>
        </span>
      </nav>
  </body>

</html>
